.Agreement {
  line-height: 1.62;
  padding: 0 25px 2em 25px;
  box-sizing: border-box;
  height: 
}
@media (min-width: 768px) {
  .Agreement {
    float: left;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .Agreement {
    float: left;
    width: 33.3333333%;
  }
}

.Agreement__text {
  height: 4.86em;
  overflow: hidden;
}

.Agreement__signature {
  width: 100%;
  padding-bottom: 26%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1em;
}
